.container {
    max-width: 115rem;
    min-height: 68rem;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-Grey-light-1);
    margin: 8rem auto;

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    background-color: #fff;
    border-bottom: var(--color-Grey-light-2);
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sideBar {
    background-color: var(--color-Grey-dark-3);
    flex: 0 0 18%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: rgba(177, 176, 174, .6);
    flex: 1;
    height: 85rem;
}