.container {
    max-width: 115rem;
    min-height: 68rem;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-Grey-light-1);
    margin: 8rem auto;

    @media only screen and (max-width:$bpoint-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    background-color: #fff;
    border-bottom: var(--line);
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width:$bpoint-xsmall) {
        flex-wrap: wrap;
        height: 10rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bpoint-medium) {
        flex-direction: column;
    }
}

.sideBar {
    background-color: var(--color-Grey-dark-3);
    flex: 0 0 18%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// main part of the hotel middle part
.hotel-view {
    background-color: rgba(177, 176, 174, .6);
    flex: 1;
    // height: 85rem;
}

.details {
    padding: 4rem;
    display: flex;
    background-color: var(--color-Grey-light-1);
    border-bottom: 1.5px solid var(--color-Grey-light-2);

    @media only screen and (max-width: $bpoint-medium) {
        padding: 2.5rem;

    }

    @media only screen and (max-width: $bpoint-small) {
        flex-direction: column;
    }
}

.description {
    font-size: 1.4rem;
    background-color: var(--color-Grey-light-4);
    flex: 0 0 60%;
    margin-right: 4rem;
    box-shadow: var(--shadow-dark);
    padding: 3rem;
    margin-right: 4rem;

    @media only screen and (max-width: $bpoint-medium) {
        padding: 2rem;
        margin-right: 3.5rem;
    }

    @media only screen and (max-width: $bpoint-small) {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}

// with flex taking 60% (above), and setting the other div to flex 1 it, the one acts as the remaining space avalable 40%;


.user-reviews {
    font-size: 1.4rem;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: var(--color-Grey-light-2);
}